KRT XML Quizzer Project/quizzer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Designed and developed for ISTE 610 KRT (RIT - Fall 2014) by Group 3 - Haince Pen, Anshu Raina, Mackenzie Willard, Siva Koneru, Wei Shi Shi -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!--   Quizzer   -->
  <xs:element name="Quizzer">
    <xs:annotation>
      <xs:documentation> Quizzer is the root element and can contain any number of courses as child
        elements. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="course">
          <xs:annotation>
            <xs:documentation> course element is referred here. </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--   course   -->
  <xs:element name="course">
    <xs:annotation>
      <xs:documentation> A course can have any number of exam elements under it.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="exam">
          <xs:annotation>
            <xs:documentation> exam element is referred here. </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="AttrGroup_course">
        <xs:annotation>
          <xs:documentation> Attribute list for course element is referred here. </xs:documentation>
        </xs:annotation>
      </xs:attributeGroup>
    </xs:complexType>
  </xs:element>
  
  <xs:attributeGroup name="AttrGroup_course">
    <xs:annotation>
      <xs:documentation> This is the attribute list for course element. </xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" use="required">
      <xs:annotation>
        <xs:documentation> The Course ID will uniquely identify the course and will have a specific
          pattern that will include Department-courseNumber-Section. Eg: ISTE-610-01
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[A-Z]{4}-[0-9]{3}-[0-9]{2}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="acronym" use="optional">
      <xs:annotation>
        <xs:documentation> This attribute will simply describe the Course Acronym. Eg: KRT
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[A-Z]{4}|[A-Z]{3}|[A-Z]{2}|[0-9]{1}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="CourseName" use="optional">
      <xs:annotation>
        <xs:documentation> This attribute will display the Course name. Eg: Knowledge Representation
          Technologies </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Knowledge Representation Technologies"/>
          <xs:enumeration value="Knowledge Driven Discoveries"/>
          <xs:enumeration value="Intorduction to GIS"/>
          <xs:enumeration value="Knowledge Processing Technologies"/>
          <xs:enumeration value="Database Management and Access"/>
          <xs:enumeration value="Data Warehousing"/>
          <xs:enumeration value="Visual Analytics"/>
          <xs:enumeration value="Analytical Thinking"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  
  <!--   exam   -->
  <xs:element name="exam">
    <xs:annotation>
      <xs:documentation> exam element has 2 child elements, Instr and q_set </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="instr" minOccurs="0">
          <xs:annotation>
            <xs:documentation> instr element provides information about test and is Correctional.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="qtype" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation> qtype is the type of question(MCQs, Fill-in-the-blanks, brief,
              coding). </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="AttrGroup_exam"/>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="AttrGroup_exam">
    <xs:annotation>
      <xs:documentation> This is the attribute list for exam element. </xs:documentation>
    </xs:annotation>
    <xs:attribute name="prof_UID" type="xs:int" use="required"/>
    <xs:attribute name="stud_UID" type="xs:int" use="optional"/>
    <xs:attribute name="exam_id" type="xs:string" use="required"/>
    <xs:attribute name="exam_title" type="xs:string" use="required"/>
    <xs:attribute name="time" type="xs:time"/>
  </xs:attributeGroup>

  <!--   instructions   -->
  <xs:element name="instr">
    <xs:annotation>
      <xs:documentation> instr element is referred in exam element and qtype elements to display
        instructions and can have multiple instruction types. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="shared" maxOccurs="unbounded"/>
    </xs:complexType>
  </xs:element>
  
  <!--   questiontype   -->
  <xs:element name="qtype">
    <xs:annotation>
      <xs:documentation> qtype element is referred in exam element. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="instr" minOccurs="0">
          <xs:annotation>
            <xs:documentation> instr element is referred in qtype element to display instructions.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" ref="question"/>
      </xs:sequence>
      <xs:attributeGroup ref="AttrGroup_qtype"/>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="AttrGroup_qtype">
    <xs:annotation>
      <xs:documentation> This is the attribute list for course element. </xs:documentation>
    </xs:annotation>
    <xs:attribute name="title" type="xs:string" use="required"/>
  </xs:attributeGroup>

  <!--   question   -->
  <xs:element name="question">
    <xs:annotation>
      <xs:documentation>
        This is thee question element.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="shared" maxOccurs="unbounded"/>
        <xs:element ref="answer" minOccurs="0"/>
        <xs:element ref="resources" minOccurs="0"/>
        <xs:element name="prof-answer" minOccurs="0" type="xs:string"/>
        <xs:element name="prof-score" minOccurs="0" type="xs:float"/>
      </xs:sequence>
      <xs:attributeGroup ref="AttrGroup_question"/>
    </xs:complexType>
  </xs:element>
  
  <xs:attributeGroup name="AttrGroup_question">
    <xs:annotation>
      <xs:documentation> Conains the attributes for question element. </xs:documentation>
    </xs:annotation>
    <xs:attribute name="number" type="xs:positiveInteger" use="required">
      <xs:annotation>
        <xs:documentation> Determines the question number. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="points" default="1.0">
      <xs:annotation>
        <xs:documentation> Determines the number of points to be alloted to a question.
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:float">
          <xs:enumeration value="0.5"/>
          <xs:enumeration value="1.0"/>
          <xs:enumeration value="1.5"/>
          <xs:enumeration value="2.0"/>
          <xs:enumeration value="2.5"/>
          <xs:enumeration value="3.0"/>
          <xs:enumeration value="3.5"/>
          <xs:enumeration value="4.0"/>
          <xs:enumeration value="4.5"/>
          <xs:enumeration value="5.5"/>
          <xs:enumeration value="6.0"/>
          <xs:enumeration value="6.5"/>
          <xs:enumeration value="7.0"/>
          <xs:enumeration value="7.5"/>
          <xs:enumeration value="8.0"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="level">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="easy"/>
          <xs:enumeration value="medium"/>
          <xs:enumeration value="hard"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Fill-in-the-blanks"/>
          <xs:enumeration value="MCQs"/>
          <xs:enumeration value="brief"/>
          <xs:enumeration value="Coding"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  
  <!--   answer   -->
  <xs:element name="answer">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:group ref="shared" maxOccurs="unbounded"/>
          <xs:element ref="explaination" minOccurs="0"/>
        </xs:sequence>
        <xs:element ref="Correction" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  
  <!--   Correction   -->
  <xs:element name="Correction">
    <xs:annotation>
      <xs:documentation> Correction element contains explaination for the questions
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:group ref="shared" maxOccurs="unbounded"/>
        <xs:element ref="explaination" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="AttrGroup_Correction"/>
    </xs:complexType>
  </xs:element>
  
  <xs:attributeGroup name="AttrGroup_Correction">
    <xs:annotation>
      <xs:documentation> Attributes of correction element </xs:documentation>
    </xs:annotation>
    <xs:attribute name="credit" default="full">
      <xs:annotation>
        <xs:documentation> credit attribute determines if answer recieves full, partial or none
          credit. </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="full"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="partial"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  
  <!--   list   -->
  <xs:element name="list">
    <xs:annotation>
      <xs:documentation>
        List element displays data as bullets, numbers or plain
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="AttrGroup_list"/>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="AttrGroup_list">
    <xs:annotation>
      <xs:documentation>
        This is the attribute group for list element.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="type" default="bullets">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="bullets"/>
          <xs:enumeration value="numbers"/>
          <xs:enumeration value="plain"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  
  <!--   item   -->
  <xs:element name="item">
    <xs:annotation>
      <xs:documentation>
        This is the Item element
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="AttrGroup_item"/>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="AttrGroup_item">
    <xs:annotation>
      <xs:documentation>
        Attribute group for item element
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="number" type="xs:positiveInteger" use="required"/>
  </xs:attributeGroup>
  
  <!--   img   -->
  <xs:element name="img">
    <xs:annotation>
      <xs:documentation>
        This is thee Image element.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="AttrGroup_img"/>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="AttrGroup_img">
    <xs:annotation>
      <xs:documentation>
        Attribute group for Image element.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="(.)+.[jpeg|jpg|bmp|png|gif]"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="path" type="xs:string"/>
  </xs:attributeGroup>

  <!--   resources   -->
  <xs:element name="resources">
    <xs:complexType>
      <xs:group ref="shared" maxOccurs="unbounded"/>
    </xs:complexType>
  </xs:element>
  <!--   explaination   -->
  <xs:element name="explaination">
    <xs:complexType>
      <xs:group ref="shared" maxOccurs="unbounded"/>
    </xs:complexType>
  </xs:element>
  <!--   para   -->
  <xs:element name="para">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="bold"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--   bold   -->
  <xs:element name="bold" type="xs:string"/>
  <!--   hyperlink  -->
  <xs:element name="hyperlink" type="xs:string"/>

  <!--   Group declared to be used by multiple elements   -->
  <xs:group name="shared">
    <xs:choice>
      <xs:element ref="para"/>
      <xs:element ref="list"/>
      <xs:element ref="img"/>
      <xs:element ref="hyperlink"/>
    </xs:choice>
  </xs:group>
</xs:schema>
